<div class="row clearfix">
  <div class="col-md-12 header-info">
    <h1>Weather in {{dataWeather.name}}, {{dataWeather.sys.country}}</h1>
    <p>{{dateNow | date:'HH:mm MMM d' }}</p>
  </div>
</div>
<div class="card mx-auto">
  <div class="card-body">
    <div class="row clearfix">
        <div class="weatherInfo">
          <div class="temperature"><span>{{dataWeather.main.temp}}&deg;C</span></div>
          <div class="clouds">
            <img src="https://openweathermap.org/img/w/{{dataWeather.weather[0].icon}}.png" alt="">
            <p>{{dataWeather.weather[0].description}}</p>
          </div>
        </div>
        <div class="details my-auto">
          <pre>Máx <span>&#09;{{dataWeather.main.temp_max}}&deg;C</span></pre>
          <pre>Min <span>&#09;{{dataWeather.main.temp_min}}&deg;C</span></pre>
          <pre>Sunrise <span>&#09;{{dataWeather.sys.sunrise}}</span></pre>
          <pre>Sunset <span>&#09;{{dataWeather.sys.sunset}}</span></pre>
        </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 title-forecast">
        <p>5 day weather forecast <span>every 3 hours</span></p>
      </div>
    </div>

    <div class="row clearfix" *ngFor="let day of arrForecast; let i=index">
      <div class="col-md-12 list-forecast"
      [ngClass]="i==0 && 'list-mark'">
        <div class="row clearfix">
          <div class="col-md-3 col-6"
          [ngStyle]="i==0 && { 'padding-left': '32px' }">
            <p>{{day.dt | date:'E d MMM' }}</p>
            <span>{{day.dt | date:'HH:mm' }}</span>
          </div>
          <div class="col-md-4 col-6">
            <img src="https://openweathermap.org/img/w/{{day.weather[0].icon}}.png" alt="">
            <span>{{day.weather[0].main}}</span>
          </div>
          <div class="col-md-5 col-12">
            <span>{{day.main.temp_max }}&deg;C</span><span>{{day.main.temp_min }}&deg;C</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>