.row {
    margin: 0;
}

.header-info {
    text-align: center;
    color: #3c3c3c;
    padding: 40px 0 32px 0;
}
.header-info h1{
    font-size: 36px;
    margin-bottom: 5px;
}
.header-info p{
    font-size: 14px;
    margin: 0;
}

.card {
  max-width: 780px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.card .card-body {
    padding: 40px
}

.weatherInfo {
flex: 0 0 32%;
height: 81%;
align-items: center;
border: solid 2px #f0f0f0;
border-radius: 4px;
}

.temperature {
  padding: 15px 0;
  font-weight: bold;
  /* flex: 1 100%; */
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 48px;
  background: #f0f0f0;
  display: flex;
  color: #3c3c3c;
}

.clouds {
  flex: 0 0 20%;
  height: 81%;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  flex-direction: column;
}
.clouds p {
  color: #3c3c3c;
  font-style: italic;
  font-size: 14px;
}

.details {
  flex: 1 0 30%;
  height: 81%;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  color: #39a3db;
  font-size: 24px;
  font-weight: bold;
  flex-direction: column;
}

.details span {
  margin-bottom: 14px;
}

.details pre {
  tab-size: 40;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-bottom: 16px;
  font-size: 14px;
  color:#3c3c3c;
  border-bottom: 1px solid #f0f0f0;
}

.details pre:nth-child(1) span {
  color: #b30000;
}
.details pre:nth-child(2) span {
  color: #4a90e2;
}
.details pre:nth-child(3) span,
.details pre:nth-child(4) span {
  font-weight: normal;
}